/*
 * main.css -- CSS para el widget del proyecto radiognu-widget
 *
 * @license Copyright 2013 - 2016 BreadMaker aka CTM <breadmaker@radiognu.org>
 *
 * Este programa es software libre; puede redistribuirlo y/o modificarlo bajo
 * los términos de la Licencia Pública General GNU tal como se publica por
 * la Free Software Foundation; ya sea la versión 3 de la Licencia, o
 * (a su elección) cualquier versión posterior.
 *
 * Este programa se distribuye con la esperanza de que le sea útil, pero SIN
 * NINGUNA GARANTÍA; sin incluso la garantía implícita de MERCANTILIDAD o
 * IDONEIDAD PARA UN PROPÓSITO PARTICULAR. Vea la Licencia Pública
 * General de GNU para más detalles.
 *
 * Debería haber recibido una copia de la Licencia Pública General de GNU
 * junto con este programa; de lo contrario escriba a la Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor,
 * Boston, MA 02110-1301, EE. UU.
 */

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/firasans-light-webfont.eot');
    src: url('../fonts/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firasans-light-webfont.woff') format('woff'),
         url('../fonts/firasans-light-webfont.ttf') format('truetype'),
         url('../fonts/firasans-light-webfont.svg#fira_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Fira Sans';
    background: transparent;
}

body.modal-open { padding-right: 0!important; }

#chrome-in-android-bad-combo .modal-dialog {
    margin-top: 10px;
    margin-bottom: 0;
}

#chrome-hates-us-icons {
    margin: 0;
    font-size: 50px;
    padding-left: 10px;
    margin-top: -8px;
}

#chrome-hates-us-icons .icon-google {
    color: #4285f4;
    text-shadow: 1px -1px 3px rgba(0,0,0,.5);
    position: relative;
    z-index: 10;
}

#chrome-hates-us-icons .icon-broken-heart {
    color: darkred;
    margin-left: -39px;
    font-size: 1.5em;
}

#chrome-hates-us-icons .icon-radiognu {
    margin-left: -49px;
    font-size: 1.1em;
    text-shadow: -1px -1px 3px rgba(0,0,0,.5);
}

#chrome-hates-us-message {
    color: #777;
    margin: 10px 0;
}

.icon-radiognu { color: #5353ff; }

#radiognu-widget {
    border-radius: 5px;
    background-color: #eee;
    text-shadow: -1px -1px 0 #fff, 1px 1px 0 #ccc;
}

#wid-no-javascript, #wid-loading-message {
    text-align: center;
    display: table;
    position: absolute;
    width: 100%;
    height: 207px;
    left: 0;
    top: 0;
    background: #eee;
    border-top-left-radius: 5px;
}

#wid-no-javascript-message, #wid-loading-message-text {
    display: table-cell;
    vertical-align: middle;
}

#wid-loading-message {
    width: 104%;
    z-index: 2;
}

#wid-container { border-bottom: 2px solid #aaa; }

#wid-now-playing {
    height: 207px;
    padding-top: 15px;
    padding-right: 14px;
    padding-bottom: 15px;
    border-right: 1px solid #aaa;
    overflow: hidden;
}

#wid-now-playing-info { display: table; }

#wid-now-playing-info-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-left: 192px;
}

#wid-now-playing-message-container {
    font-size: 17px;
    padding-bottom: 13px;
}

#wid-now-playing-message {
    margin-right: 5px;
    display: inline-block;
}

#wid-listeners { display: inline-block; }

#wid-now-playing-live-indicator {
    margin-left: 5px;
    font-size: 0.7777em;
    background: #111;
    display: inline-block;
    line-height: 1em;
    padding: 4px 5px;
    border-radius: 3px;
    color: #fff;
    position: relative;
    top: -2px;
    text-shadow: 0 1px 3px #aaa, 1px 0 3px #aaa, 0 -1px 3px #aaa, -1px 0 3px #aaa;
}

#wid-now-playing-live-indicator-light {
    border-radius: 10px;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin: 0;
    border: 1px solid #a00;
    background: #f00;
    box-shadow: #000 0 -1px 7px 1px, inset #e00 0 -1px 9px, #f00 0 2px 12px;
}

#wid-now-playing-hr {
    height: 2px;
    margin-top: 10px;
    margin-right: -15px;
    background: #eeeeee;
    background: -moz-linear-gradient(left, #eeeeee 0%, #aaaaaa 50%,
        #aaaaaa 100%);
    background: -webkit-gradient(linear, left top, right top,
        color-stop(0%,#eeeeee), color-stop(50%,#aaaaaa),
        color-stop(100%,#aaaaaa));
    background: -webkit-linear-gradient(left, #eeeeee 0%, #aaaaaa 50%,
        #aaaaaa 100%);
    background: -o-linear-gradient(left, #eeeeee 0%, #aaaaaa 50%, #aaaaaa 100%);
    background: -ms-linear-gradient(left, #eeeeee 0%, #aaaaaa 50%,
        #aaaaaa 100%);
    background: linear-gradient(to right, #eeeeee 0%, #aaaaaa 50%,
        #aaaaaa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',
        endColorstr='#aaaaaa',GradientType=1);
}

#wid-now-playing-image-container {
    display: table-cell;
    vertical-align: top;
    position: relative;
    width: 177px;
    height: 177px;
    margin-right: 15px;
    z-index: 1;
}

.wid-now-playing-image {
    width: 177px;
    height: 177px;
    border: 1px solid #333;
    border-radius: 3px;
    -webkit-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
    -webkit-transition-property: top, opacity;
    -o-transition-property: top, opacity;
    transition-property: top, opacity;
    position: absolute;
    top: 0px;
    opacity: 1;
}

.wid-now-playing-image.in {
    top: -200px;
    opacity: 0;
}

.wid-now-playing-image.out {
    top: 200px;
    opacity: 0;
}

.wid-now-playing-image img {
    width: 175px;
    height: 175px;
    border-radius: 2px;
}

.wid-now-playing-info-line-container {
    height: 1em;
    position: relative;
}

.wid-now-playing-info-line {
    line-height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    -webkit-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
    -webkit-transition-property: left, opacity;
    -o-transition-property: left, opacity;
    transition-property: left, opacity;
    position: absolute;
    opacity: 1;
    left: 0;
}

.wid-now-playing-info-line.out {
    left: -50%;
    opacity: 0;
}

.wid-now-playing-info-line.in {
    left: 50%;
    opacity: 0;
}


.wid-now-playing-info-line-container:not(:last-child) { margin-bottom: .5em; }

.wid-now-playing-separator { display: inline-block; }

.wid-now-playing-separator:after {
    content: " \25e6 ";
    padding: 0 .25em;
}

.wid-now-playing-info-line.exit {
    opacity: 0;
    margin-left: -200px;
}

.wid-now-playing-info-line.enter {
    opacity: 0;
    margin-left: 200px;
    margin-right: -392px;
}

.wid-now-playing-titulo { font-size: 26px; }

.wid-now-playing-artista { font-size: 24px; }

.wid-now-playing-album { font-size: 22px; }

.wid-now-playing-other { font-size: 20px; }

#wid-sidebar {
    height: 207px;
    padding-top: 15px;
    padding-left: 14px;
    padding-bottom: 15px;
    border-left: 1px solid #aaa;
}

#wid-time-clock, #wid-utc-local-time-no-js {
    background: #fff;
    border: 2px solid #aaa;
    border-radius: 5px;
    height: 65px;
}

#wid-utc-local-time-no-js {
    width: 100%;
    height: 75px;
    padding: 10px;
    display: table;
    margin-bottom: 10px;
    text-align: center;
}

#wid-time-no-js-message {
    display: table-cell;
    vertical-align: middle;
}

#wid-utc-local-time-no-js #wid-time-clock {
    width: 168px;
    height: 85px;
}

#wid-utc-local-time-no-js #wid-time-zone,
#wid-utc-local-time-no-js #wid-time-clock { display: none; }

#wid-utc-local-time { text-align: center; }

#wid-time-clock {
    cursor: pointer;
    padding: 5px;
}

#wid-time-zone { font-weight: bold; }

.wid-clock-timezone-name {
    display: inline-block;
    line-height: 1em;
    padding: 3px 3px 1px 3px;
    border: 2px solid #aaa;
    background: #fff;
    border-top-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -2px;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#wid-playogg {
    line-height: 1.2em;
    margin: 25px auto 10px auto;
    font-size: 11px;
}

#wid-playogg-image img {
    vertical-align: middle;
    margin-right: 5px;
    width: 80px;
    height: 27px;
}

#wid-sidebar-lovemessage {
    opacity: .8;
    font-size: 10px;
    margin-top: 15px;
}

#wid-about-button {
    margin-top: 15px;
    font-family: sans-serif;
    font-size: 10px;
}

#wid-sidebar-about-close {
    line-height: 15px;
    font-size: 30px;
}

#wid-sidebar-about-license { text-align: justify; }

#wid-sidebar-about-buttons { text-align: center; }

#wid-sidebar-about-buttons a { display: inline-block; }

#wid-sidebar-about-buttons a:first-of-type {
    margin-top: 5px;
    margin-bottom: 5px;
}

#wid-sidebar-about-buttons i.icon-traffic-cone:before { line-height: 1em!important; }

#wid-html5-player-container { height: 50px; }

/* Reglas responsivas */

@media (max-width: 1159px) {
    #wid-sidebar-about-license { font-size: 13px; }
}

@media (max-width: 1079px) {
    #wid-sidebar-about-buttons a {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
}

@media (max-width: 963px) {
    #wid-sidebar-about-license { font-size: 12px; }

    #wid-sidebar-about-buttons a { padding: 1px 5px; }
}

@media (max-width: 999px) {
    #wid-playogg {
        line-height: 1em;
        margin: 22px auto 7px auto;
    }
}

@media (max-width: 843px) {
    #wid-playogg { margin: 13px auto 5px auto; }
}

@media (max-width: 821px) {
    #wid-playogg { margin: 30px auto 5px auto; }

    #wid-time-clock { height: 48px; }
}

@media (max-width: 767px) {
    #wid-now-playing, #wid-no-javascript, #wid-loading-message { height: auto; }

    #wid-no-javascript, #wid-loading-message { position: static; }

    #wid-now-playing {
        padding-right: 15px;
        border-right: none;
        border-bottom: 1px solid #aaa;
    }

    #wid-sidebar {
        padding-top: 7px;
        padding-left: 15px;
        padding-bottom: 7px;
        border-left: none;
        border-top: 1px solid #aaa;
        height: auto;
    }

    #wid-utc-local-time {
        float: left;
        margin-right: 10px;
    }

    #wid-playogg { margin: 0; }

    #wid-sidebar-lovemessage { margin-top: 26px; }

    #wid-about-button { margin-top: 21px; }

    #wid-sidebar-about-license { font-size: 13px; }

    #wid-sidebar-about-buttons a { padding: 5px 10px; }

    #wid-sidebar-about-buttons a:first-of-type {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 535px) {
    #wid-now-playing-message {
        font-size: 14px;
        margin: 4px 5px 2px 0;
    }
}

@media (max-width: 340px) {
    #wid-playogg-image {
        text-align: center;
        display: table-header-group;
    }

    #wid-playogg-image img { margin: 0 0 7px 0; }

    #wid-playogg-text { display: table-footer-group; }

    #wid-sidebar-lovemessage {
        clear: both;
        margin-top: 5px;
    }

    #wid-about-button { margin-top: 0; }
}

@media (max-width: 318px) {
    #wid-sidebar-about-buttons a:first-of-type { margin-bottom: 7px; }
}

@media (max-width: 239px) {
    #wid-utc-local-time {
        float: none;
        margin: 0 0 5px 0;
    }
}

/* Reglas para la animación de carga */

.wid-loading {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.wid-loading, .wid-loading:before, .wid-loading:after {
    -webkit-animation: 1.5s linear 0s normal none infinite loading-part-1;
    -o-animation: 1.5s linear 0s normal none infinite loading-part-1;
    animation: 1.5s linear 0s normal none infinite loading-part-1;
}

.wid-loading:before, .wid-loading:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    content: '';
    margin: -.5em 0 0 -.5em;
    top: 50%;
    left: 50%;
    background-color: rgba(30,30,30,0.7);
    -webkit-animation-name: loading-part-2;
    -o-animation-name: loading-part-2;
    animation-name: loading-part-2;
}

.wid-loading:after {
    -webkit-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}

@-webkit-keyframes loading-part-1 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes loading-part-2 {
    0%   { transform: scale(0.2); left:   0%; }
    50%  { transform: scale(1.0); left:  50%; }
    100% { transform: scale(0.2); left: 100%; }
}

@-o-keyframes loading-part-1 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-o-keyframes loading-part-2 {
    0%   { transform: scale(0.2); left:   0%; }
    50%  { transform: scale(1.0); left:  50%; }
    100% { transform: scale(0.2); left: 100%; }
}

@keyframes loading-part-1 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes loading-part-2 {
    0%   { transform: scale(0.2); left:   0%; }
    50%  { transform: scale(1.0); left:  50%; }
    100% { transform: scale(0.2); left: 100%; }
}
